.btn-theme {
    background: $primary-color;
    color: $white;
    border-radius: 2px;
}

.btn-theme:hover, .btn-theme:focus {
    background: $hover-color;
    color: $white;
}

.btn-theme-dark {
    background: $secondary-color;
    color: $white;
    border-radius: 2px;
}

.btn-theme-dark:hover, .btn-theme-dark:focus {
    background: $hover-color-dark;
    color: $white;
}