@import "buttons";
@import "forms";
@import "grids";

.panel-widget {
    @include default-display();

    background: $white;
    border-bottom: 3px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
    font-size: $font-size-standar;

    .panel-heading {
        @include default-display();

        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 20px;
        background: $white;

        .title {
            color: $primary-color;
            font-weight: 600;
            font-size: $font-size-stmedium;
            text-transform: uppercase;
            margin: 0;
        }
    }

    .panel-body {
        @include default-display();
        padding: 20px;
    }

    .panel-footer {
        @include default-display();
        padding: 20px;
        border-top: 1px solid rgba(0,0,0,0.1);
    }
}
