::-webkit-input-placeholder {
    color: $secondary-color;
    font-size: 13px;
    font-weight: bold;
  }
  ::-moz-placeholder {
    color: $secondary-color;
    font-size: 13px;
    font-weight: bold;
  }
  :-ms-input-placeholder {
    color: $secondary-color;
    font-size: 13px;
    font-weight: bold;
  }
  ::placeholder {
    color: $secondary-color;
    font-size: 13px;
    font-weight: bold;
  }