// Global Styles
html, body {
    font-family: $primary-font;
    background: $bg-color;
    line-height: normal;
    margin: 0;
}

.container-fluids {@include default-display;overflow: hidden;}
.container {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 	1170px;
}
.clearfix {
    @include clearfix; 
}

header, footer, #main-container {
    @include default-display();
}

header {
    background: $header-bg;
    padding: 10px 0;

    .nav-logo {
        display: inline-block;
        float: left;
        width: 100px;
        height: 60px;
        
        background: $secondary-color;
        border-radius: 8px;

        .logo-text {
            display: inline-block;
            padding: 15px 0;
            width: 100%;
            height: 100%;
            font-size: $font-size-stmedium;
            color: $white;
            text-align: center;
            font-weight: bold;
        }
    }
    .nav-search {
        display: inline-block;
        width: 80%;
        float: right;
        text-align: right;
        padding: 15px 0;

        #keywords {
            display: inline-block;
            width: 40%;
            padding: 10px 15px;
            border: 1px solid #ccc;
            margin-left: 46%;
        }

        #btnSearch {
            display: inline-block;
            width: 10%;
            cursor: pointer;
            padding: 10px 15px;
            background: #1996e9;
            color: #fff;
            box-shadow: none;
            border: 1px solid #1996e9;
        }

        #btnSearch:hover, #btnSearch:focus {
            background: #1679b7;
            border-color: #1679b7;
        }
    }
}

#main-container {
    background: $bg-color;
    padding: 20px 0 60px;
}

footer {
    background: $footer-bg;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;

    .footer-copyright {
        @include default-display();
        padding: 15px 0;
        text-align: center;
        background: $footer-bg;

        span {
            @include default-display();
            font-size: $font-size-stmedium;
            color: $white;
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}
  
/* The Masonry Container */
#mason-title {
    color: #000;
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 36px;
}
#tphotos {
    display: inline;
    margin-right: 15px;
    color: $black;
    font-size: 24px;
}
#mason-grid {
    margin: 0em auto;
    max-width: 100%;
    // column-gap: 1.5em;

    .item {
        background: $white;
        padding: 0.1em;
        margin: 0 0 0.2em;
        display: inline-block;

        img {
            display: inline-block;
            width: 100%;
            height: auto;
        }

        p {
            display: block;
            margin-bottom: 10px;
            margin-top: 0;
            color: #000;
            font-weight: normal;
            font-size: $font-size-stmedium;
            text-transform: capitalize;
        }

        ul.tags {
            @include default-display();
            @include list-unstyled();

            li {
                display: inline-block;
                float: left;
                margin-right: 5px;
                margin-bottom: 5px;

                a {
                    display: block;
                    padding: 5px 10px;
                    background: $tags-bg;
                    color: $tags-color;
                    font-weight: lighter;
                    font-size: $font-size-stkecil;
                    text-decoration: none;
                }

                a:hover {
                    background: $tags-bg-hv;
                    color: $tags-color-hv;
                }
            }
        }
    }

    .item:hover {
        img {opacity: 0.7}
    }
}

#showScroll {
    position: fixed;
    top: 10%;
    left: 0px;
    background: #ddd;
    z-index: 99999999;
    padding: 10px;
    padding-left: 15px;
}

.loader {
    @include default-display();
    margin: 20px 0;
    height: 40px;
    background: transparent url(../img/loader.gif) center center no-repeat;
    background-size: auto 60px;
}


/* Masonry on large screens */
@media only screen and (min-width: 1024px) {
    #mason-grid {
        column-count: 3;
    }
}

/* Masonry on medium-sized screens */
@media only screen and (max-width: 1023px) and (min-width: 768px) {
    #mason-grid {
        column-count: 3;
    }
}

/* Masonry on small screens */
@media only screen and (max-width: 767px) and (min-width: 540px) {
    #mason-grid {
        column-count: 2;
    }
}