@mixin default-display() {
    display: inline-block;
    width: 100%;
    position: relative;
}

@mixin clearfix() {
    &::after {
        display: block; content: "";
        clear: both;
    }
}

@mixin fullGrid() {
    display: inline-block;
    width: 100%;
    position: relative;
    flex: 0 0 100%;
    max-width: 100%;
}

@mixin list-unstyled() {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin img-cover() {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@mixin border-box() {
    -webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    box-sizing: border-box; 
}

/* Medium Layout: 1280px */
@mixin medium {
    @media (min-width: 992px) and (max-width: 1400px) {
        @content;
    }
}
  
/* Tablet Layout: 768px */
@mixin tablet {
    @media (min-width: 768px) and (max-width: 1200px) {
        @content;
    }
}
  
/* Mobile Layout: 320px */
@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}
  
/* Wide Mobile Layout: 480px */
@mixin wide-mobile {
    @media (min-width: 480px) and (max-width: 767px) {
        @content;
    }
}

/* Smallest Mobile Layout: 320px */
@mixin mini-mobile {
    @media (max-width: 479px) {
        @content;
    }
}
  
@mixin cmq ($min, $max) {
    @media (min-width: $min) and (max-width: $max) {
        @content;
    }
}
  
 