/*--------------------------- Global Variable ----------------------*/

$primary-font	    : 'Hind';

$primary-color	    : #37d6b6;
$secondary-color	: #7B7B7B;
$hover-color	    : #31b99e;
$hover-color-dark   : #3d5a79;
$title-color	    : #222222;
$text-color		    : #444444;
$menu-color         : #002142;
$bg-color           : #fff;
$footer-bg          : #7B7B7B;
$header-bg          : #E1E1E1;

$white			    : #fff;
$offwhite		    : #f9f9ff;
$black			    : #444;

$tags-color         : #666;
$tags-bg            : #ddd;
$tags-color-hv      : #444;
$tags-bg-hv         : #ccc;

$font-size-kecil    : 12px;
$font-size-stkecil  : 13px;
$font-size-standar  : 14px;
$font-size-stmedium : 16px;
